*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

video {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

.content {
  display: flex;
  gap: 30px;
  margin: 0 30px;
  inline-size: 100%;
}

.result {
  align-self: flex-end;
}

.result_video-container {
  position: relative;
  height: 386px;
  inline-size: 711px;
  margin: 0 0 16px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 40px;
}

.result_video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form_fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
  inline-size: 100%;
}

.search-form_fieldset-title {
  font-weight: 400;
  font-size: 18px;
}

.search-form_label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form_label:hover .search-form_label-text {
  text-decoration: underline 1px #FFF;
  text-underline-offset: 5px;
}

.search-form_label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form_textfield {
  border-top: 1px solid #FFF;
  border-right: none;
  border-bottom: 1px solid #FFF;
  border-left: none;
  padding: 2px 0;
  color: currentColor;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  background-color: transparent;
  inline-size: 225px;
}

.search-form_textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form_textfield:active {
  outline: 1px solid #FFF;
}

.search-form_textfield:focus {
  outline: none;
}

.search-form_checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form_pseudo-checkbox {
  display: block;
  border: 1px solid #FFF;
  inline-size: 19px;
  block-size: 19px;
}

.search-form_checkbox:checked + .search-form_pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #FFF;
  inline-size: 15px;
  block-size: 15px;
  margin: 1px 0 0 1px;
}

.button {
  border: 1px solid #FFF;
  padding: 6px 0;
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline 1px #FFF;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form_submit-button {
  align-self: flex-end;
}

.content_details {
  inline-size: 100%;
}

.title {
  padding: 0 0 20px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
}

.content_accent {
  color: #545050;
}

.content_list-container {
  block-size: 298px;
  overflow-y: auto;
  position: relative;
  padding-right: 2px;
}

.more-button {
  width: calc(100% - 2px); 
  margin-right: auto;      
  margin-top: 30px;
  display: block; 
}

.content_list-container::-webkit-scrollbar {
  width: 3px;
}

.content_list-container::-webkit-scrollbar-thumb {
  background-color: #FFF;
}

.content_list-item:not(:last-child) {
  margin: 0 0px 30px 0;
}

.content_card-link {
  display: block;
  margin: 2px;
  text-decoration: none;
}

.content_card-link:active {
  background-color: #545050;
}

.content_card-link:hover {
  text-decoration: underline 1px #FFF;
}

.content_card-link:focus {
  outline: none;
}

.content_card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content_card-link_current {
  background-color: #545050;
}

.content_video-card {
  display: flex;
  justify-content: space-between;
}

.content_video-card-title {
  padding: 2px 2px 5px;
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  hyphens: auto;
  inline-size: 196px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content_video-card-description {
  padding: 0 2px;
  color: #FFF;
  font-weight: 400;
  line-height: 16.2px;
}

.content_video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}
